@import 'imports/lib/base.css';

.component-grid .grid-content {
	background: #f5dddd;
	display: block;
	padding: 20px 0;
	text-align: center;
}

.component-grid .col {
}
@media screen and (max-width: 767px) {
.component-grid .col {
	margin-bottom: 10px;
}
}
