/*
https://github.com/stubbornella/oocss/blob/master/core/spacing/space.css
p,m = padding,margin
a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
s,m,l,n = small(5px),medium(10px),large(20px),none(0px)
*/


.ptn, .pvn, .pan { padding-top: 0px !important; }

.ptt, .pvt, .pat { padding-top: 5px !important; }

.pts, .pvs, .pas { padding-top: 10px !important; }

.ptm, .pvm, .pam { padding-top: 20px !important; }

.ptl, .pvl, .pal { padding-top: 50px !important; }

.ptx, .pvx, .pax { padding-top: 80px !important; }

.prn, .phn, .pan { padding-right: 0px !important; }

.prt, .pht, .pat { padding-right: 5px !important; }

.prs, .phs, .pas { padding-right: 10px !important; }

.prm, .phm, .pam { padding-right: 20px !important; }

.prl, .phl, .pal { padding-right: 50px !important; }

.prx, .phx, .pax { padding-right: 80px !important; }

.pbn, .pvn, .pan { padding-bottom: 0px !important; }

.pbt, .pvt, .pat { padding-bottom: 5px !important; }

.pbs, .pvs, .pas { padding-bottom: 10px !important; }

.pbm, .pvm, .pam { padding-bottom: 20px !important; }

.pbl, .pvl, .pal { padding-bottom: 50px !important; }

.pbx, .pvx, .pax { padding-bottom: 80px !important; }

.pln, .phn, .pan { padding-left: 0px !important; }

.plt, .pht, .pat { padding-left: 5px !important; }

.pls, .phs, .pas { padding-left: 10px !important; }

.plm, .phm, .pam { padding-left: 20px !important; }

.pll, .phl, .pal { padding-left: 50px !important; }

.plx, .phx, .pax { padding-left: 80px !important; }

.mtn, .mvn, .man { margin-top: 0px !important; }

.mtt, .mvt, .mat { margin-top: 5px !important; }

.mts, .mvs, .mas { margin-top: 10px !important; }

.mtm, .mvm, .mam { margin-top: 20px !important; }

.mtl, .mvl, .mal { margin-top: 50px !important; }

.mtx, .mvx, .max { margin-top: 80px !important; }

.mrn, .mhn, .man { margin-right: 0px !important; }

.mrt, .mht, .mat { margin-right: 5px !important; }

.mrs, .mhs, .mas { margin-right: 10px !important; }

.mrm, .mhm, .mam { margin-right: 20px !important; }

.mrl, .mhl, .mal { margin-right: 50px !important; }

.mrx, .mhx, .max { margin-right: 80px !important; }

.mbn, .mvn, .man { margin-bottom: 0px !important; }

.mbt, .mvt, .mat { margin-bottom: 5px !important; }

.mbs, .mvs, .mas { margin-bottom: 10px !important; }

.mbm, .mvm, .mam { margin-bottom: 20px !important; }

.mbl, .mvl, .mal { margin-bottom: 50px !important; }

.mbx, .mvx, .max { margin-bottom: 80px !important; }

.mln, .mhn, .man { margin-left: 0px !important; }

.mlt, .mht, .mat { margin-left: 5px !important; }

.mls, .mhs, .mas { margin-left: 10px !important; }

.mlm, .mhm, .mam { margin-left: 20px !important; }

.mll, .mhl, .mal { margin-left: 50px !important; }

.mlx, .mhx, .max { margin-left: 80px !important; }

.mra, .mha { margin-right: auto !important; }

.mla, .mha { margin-left: auto !important; }

@media (max-width: 767px){ 
.ipt { 
  margin-right: -20px !important;
  margin-bottom: -50px !important;
  }
}




.mt0 { margin-top: 0px !important; }
.mt5 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mt50 { margin-top: 50px !important; }
.mt55 { margin-top: 55px !important; }
.mt60 { margin-top: 60px !important; }
.mt65 { margin-top: 65px !important; }
.mt70 { margin-top: 70px !important; }
.mt75 { margin-top: 75px !important; }
.mt80 { margin-top: 80px !important; }
.mt85 { margin-top: 85px !important; }
.mt90 { margin-top: 90px !important; }
.mt95 { margin-top: 95px !important; }
.mt100 { margin-top: 100px !important; }

.mr0 { margin-right: 0px !important; }
.mr5 { margin-right: 5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr25 { margin-right: 25px !important; }
.mr30 { margin-right: 30px !important; }
.mr35 { margin-right: 35px !important; }
.mr40 { margin-right: 40px !important; }
.mr45 { margin-right: 45px !important; }
.mr50 { margin-right: 50px !important; }
.mr55 { margin-right: 55px !important; }
.mr60 { margin-right: 60px !important; }
.mr65 { margin-right: 65px !important; }
.mr70 { margin-right: 70px !important; }
.mr75 { margin-right: 75px !important; }
.mr80 { margin-right: 80px !important; }
.mr85 { margin-right: 85px !important; }
.mr90 { margin-right: 90px !important; }
.mr95 { margin-right: 95px !important; }
.mr100 { margin-right: 100px !important; }

.mb0 { margin-bottom: 0px !important; }
.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb35 { margin-bottom: 35px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb45 { margin-bottom: 45px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb55 { margin-bottom: 55px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb65 { margin-bottom: 65px !important; }
.mb70 { margin-bottom: 70px !important; }
.mb75 { margin-bottom: 75px !important; }
.mb80 { margin-bottom: 80px !important; }
.mb85 { margin-bottom: 85px !important; }
.mb90 { margin-bottom: 90px !important; }
.mb95 { margin-bottom: 95px !important; }
.mb100 { margin-bottom: 100px !important; }

.ml0 { margin-left: 0px !important; }
.ml5 { margin-left: 5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml25 { margin-left: 25px !important; }
.ml30 { margin-left: 30px !important; }
.ml35 { margin-left: 35px !important; }
.ml40 { margin-left: 40px !important; }
.ml45 { margin-left: 45px !important; }
.ml50 { margin-left: 50px !important; }
.ml55 { margin-left: 55px !important; }
.ml60 { margin-left: 60px !important; }
.ml65 { margin-left: 65px !important; }
.ml70 { margin-left: 70px !important; }
.ml75 { margin-left: 75px !important; }
.ml80 { margin-left: 80px !important; }
.ml85 { margin-left: 85px !important; }
.ml90 { margin-left: 90px !important; }
.ml95 { margin-left: 95px !important; }
.ml100 { margin-left: 100px !important; }

.pt0 { padding-top: 0px !important; }
.pt5 { padding-top: 5px !important; }
.pt10 { padding-top: 10px !important; }
.pt15 { padding-top: 15px !important; }
.pt20 { padding-top: 20px !important; }
.pt25 { padding-top: 25px !important; }
.pt30 { padding-top: 30px !important; }
.pt35 { padding-top: 35px !important; }
.pt40 { padding-top: 40px !important; }
.pt45 { padding-top: 45px !important; }
.pt50 { padding-top: 50px !important; }
.pt55 { padding-top: 55px !important; }
.pt60 { padding-top: 60px !important; }
.pt65 { padding-top: 65px !important; }
.pt70 { padding-top: 70px !important; }
.pt75 { padding-top: 75px !important; }
.pt80 { padding-top: 80px !important; }
.pt85 { padding-top: 85px !important; }
.pt90 { padding-top: 90px !important; }
.pt95 { padding-top: 95px !important; }
.pt100 { padding-top: 100px !important; }

.pr0 { padding-right: 0px !important; }
.pr5 { padding-right: 5px !important; }
.pr10 { padding-right: 10px !important; }
.pr15 { padding-right: 15px !important; }
.pr20 { padding-right: 20px !important; }
.pr25 { padding-right: 25px !important; }
.pr30 { padding-right: 30px !important; }
.pr35 { padding-right: 35px !important; }
.pr40 { padding-right: 40px !important; }
.pr45 { padding-right: 45px !important; }
.pr50 { padding-right: 50px !important; }
.pr55 { padding-right: 55px !important; }
.pr60 { padding-right: 60px !important; }
.pr65 { padding-right: 65px !important; }
.pr70 { padding-right: 70px !important; }
.pr75 { padding-right: 75px !important; }
.pr80 { padding-right: 80px !important; }
.pr85 { padding-right: 85px !important; }
.pr90 { padding-right: 90px !important; }
.pr95 { padding-right: 95px !important; }
.pr100 { padding-right: 100px !important; }

.pb0 { padding-bottom: 0px !important; }
.pb5 { padding-bottom: 5px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb35 { padding-bottom: 35px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb45 { padding-bottom: 45px !important; }
.pb50 { padding-bottom: 50px !important; }
.pb55 { padding-bottom: 55px !important; }
.pb60 { padding-bottom: 60px !important; }
.pb65 { padding-bottom: 65px !important; }
.pb70 { padding-bottom: 70px !important; }
.pb75 { padding-bottom: 75px !important; }
.pb80 { padding-bottom: 80px !important; }
.pb85 { padding-bottom: 85px !important; }
.pb90 { padding-bottom: 90px !important; }
.pb95 { padding-bottom: 95px !important; }
.pb100 { padding-bottom: 100px !important; }

.pl0 { padding-left: 0px !important; }
.pl5 { padding-left: 5px !important; }
.pl10 { padding-left: 10px !important; }
.pl15 { padding-left: 15px !important; }
.pl20 { padding-left: 20px !important; }
.pl25 { padding-left: 25px !important; }
.pl30 { padding-left: 30px !important; }
.pl35 { padding-left: 35px !important; }
.pl40 { padding-left: 40px !important; }
.pl45 { padding-left: 45px !important; }
.pl50 { padding-left: 50px !important; }
.pl55 { padding-left: 55px !important; }
.pl60 { padding-left: 60px !important; }
.pl65 { padding-left: 65px !important; }
.pl70 { padding-left: 70px !important; }
.pl75 { padding-left: 75px !important; }
.pl80 { padding-left: 80px !important; }
.pl85 { padding-left: 85px !important; }
.pl90 { padding-left: 90px !important; }
.pl95 { padding-left: 95px !important; }
.pl100 { padding-left: 100px !important; }





.mtd5 { margin-top: 5px !important; }
.mtd10 { margin-top: 10px !important; }
.mtd15 { margin-top: 15px !important; }
.mtd20 { margin-top: 20px !important; }
.mtd25 { margin-top: 25px !important; }
.mtd30 { margin-top: 30px !important; }
.mtd35 { margin-top: 35px !important; }
.mtd40 { margin-top: 40px !important; }
.mtd45 { margin-top: 45px !important; }
.mtd50 { margin-top: 50px !important; }
.mtd55 { margin-top: 55px !important; }
.mtd60 { margin-top: 60px !important; }
.mtd65 { margin-top: 65px !important; }
.mtd70 { margin-top: 70px !important; }
.mtd75 { margin-top: 75px !important; }
.mtd80 { margin-top: 80px !important; }
.mtd85 { margin-top: 85px !important; }
.mtd90 { margin-top: 90px !important; }
.mtd95 { margin-top: 95px !important; }
.mtd100 { margin-top: 100px !important; }

@media (max-width: 767px) { 
  .mtd5 { margin-top: 3px !important; }
  .mtd10 { margin-top: 6px !important; }
  .mtd15 { margin-top: 9px !important; }
  .mtd20 { margin-top: 12px !important; }
  .mtd25 { margin-top: 15px !important; }
  .mtd30 { margin-top: 18px !important; }
  .mtd35 { margin-top: 21px !important; }
  .mtd40 { margin-top: 24px !important; }
  .mtd45 { margin-top: 27px !important; }
  .mtd50 { margin-top: 30px !important; }
  .mtd55 { margin-top: 33px !important; }
  .mtd60 { margin-top: 36px !important; }
  .mtd65 { margin-top: 39px !important; }
  .mtd70 { margin-top: 42px !important; }
  .mtd75 { margin-top: 45px !important; }
  .mtd80 { margin-top: 48px !important; }
  .mtd85 { margin-top: 51px !important; }
  .mtd90 { margin-top: 54px !important; }
  .mtd95 { margin-top: 57px !important; }
  .mtd100 { margin-top: 60px !important; }
}

.mbd5 { margin-bottom: 5px !important; }
.mbd10 { margin-bottom: 10px !important; }
.mbd15 { margin-bottom: 15px !important; }
.mbd20 { margin-bottom: 20px !important; }
.mbd25 { margin-bottom: 25px !important; }
.mbd30 { margin-bottom: 30px !important; }
.mbd35 { margin-bottom: 35px !important; }
.mbd40 { margin-bottom: 40px !important; }
.mbd45 { margin-bottom: 45px !important; }
.mbd50 { margin-bottom: 50px !important; }
.mbd55 { margin-bottom: 55px !important; }
.mbd60 { margin-bottom: 60px !important; }
.mbd65 { margin-bottom: 65px !important; }
.mbd70 { margin-bottom: 70px !important; }
.mbd75 { margin-bottom: 75px !important; }
.mbd80 { margin-bottom: 80px !important; }
.mbd85 { margin-bottom: 85px !important; }
.mbd90 { margin-bottom: 90px !important; }
.mbd95 { margin-bottom: 95px !important; }
.mbd100 { margin-bottom: 100px !important; }

@media (max-width: 767px) { 
  .mbd5 { margin-bottom: 3px !important; }
  .mbd10 { margin-bottom: 6px !important; }
  .mbd15 { margin-bottom: 9px !important; }
  .mbd20 { margin-bottom: 12px !important; }
  .mbd25 { margin-bottom: 15px !important; }
  .mbd30 { margin-bottom: 18px !important; }
  .mbd35 { margin-bottom: 21px !important; }
  .mbd40 { margin-bottom: 24px !important; }
  .mbd45 { margin-bottom: 27px !important; }
  .mbd50 { margin-bottom: 30px !important; }
  .mbd55 { margin-bottom: 33px !important; }
  .mbd60 { margin-bottom: 36px !important; }
  .mbd65 { margin-bottom: 39px !important; }
  .mbd70 { margin-bottom: 42px !important; }
  .mbd75 { margin-bottom: 45px !important; }
  .mbd80 { margin-bottom: 48px !important; }
  .mbd85 { margin-bottom: 51px !important; }
  .mbd90 { margin-bottom: 54px !important; }
  .mbd95 { margin-bottom: 57px !important; }
  .mbd100 { margin-bottom: 60px !important; }
}

.ptd5 { padding-top: 5px !important; }
.ptd10 { padding-top: 10px !important; }
.ptd15 { padding-top: 15px !important; }
.ptd20 { padding-top: 20px !important; }
.ptd25 { padding-top: 25px !important; }
.ptd30 { padding-top: 30px !important; }
.ptd35 { padding-top: 35px !important; }
.ptd40 { padding-top: 40px !important; }
.ptd45 { padding-top: 45px !important; }
.ptd50 { padding-top: 50px !important; }
.ptd55 { padding-top: 55px !important; }
.ptd60 { padding-top: 60px !important; }
.ptd65 { padding-top: 65px !important; }
.ptd70 { padding-top: 70px !important; }
.ptd75 { padding-top: 75px !important; }
.ptd80 { padding-top: 80px !important; }
.ptd85 { padding-top: 85px !important; }
.ptd90 { padding-top: 90px !important; }
.ptd95 { padding-top: 95px !important; }
.ptd100 { padding-top: 100px !important; }

@media (max-width: 767px) { 
  .ptd5 { padding-top: 3px !important; }
  .ptd10 { padding-top: 6px !important; }
  .ptd15 { padding-top: 9px !important; }
  .ptd20 { padding-top: 12px !important; }
  .ptd25 { padding-top: 15px !important; }
  .ptd30 { padding-top: 18px !important; }
  .ptd35 { padding-top: 21px !important; }
  .ptd40 { padding-top: 24px !important; }
  .ptd45 { padding-top: 27px !important; }
  .ptd50 { padding-top: 30px !important; }
  .ptd55 { padding-top: 33px !important; }
  .ptd60 { padding-top: 36px !important; }
  .ptd65 { padding-top: 39px !important; }
  .ptd70 { padding-top: 42px !important; }
  .ptd75 { padding-top: 45px !important; }
  .ptd80 { padding-top: 48px !important; }
  .ptd85 { padding-top: 51px !important; }
  .ptd90 { padding-top: 54px !important; }
  .ptd95 { padding-top: 57px !important; }
  .ptd100 { padding-top: 60px !important; }
}

.pbd5 { padding-bottom: 5px !important; }
.pbd10 { padding-bottom: 10px !important; }
.pbd15 { padding-bottom: 15px !important; }
.pbd20 { padding-bottom: 20px !important; }
.pbd25 { padding-bottom: 25px !important; }
.pbd30 { padding-bottom: 30px !important; }
.pbd35 { padding-bottom: 35px !important; }
.pbd40 { padding-bottom: 40px !important; }
.pbd45 { padding-bottom: 45px !important; }
.pbd50 { padding-bottom: 50px !important; }
.pbd55 { padding-bottom: 55px !important; }
.pbd60 { padding-bottom: 60px !important; }
.pbd65 { padding-bottom: 65px !important; }
.pbd70 { padding-bottom: 70px !important; }
.pbd75 { padding-bottom: 75px !important; }
.pbd80 { padding-bottom: 80px !important; }
.pbd85 { padding-bottom: 85px !important; }
.pbd90 { padding-bottom: 90px !important; }
.pbd95 { padding-bottom: 95px !important; }
.pbd100 { padding-bottom: 100px !important; }

@media (max-width: 767px) { 
  .pbd5 { padding-bottom: 3px !important; }
  .pbd10 { padding-bottom: 6px !important; }
  .pbd15 { padding-bottom: 9px !important; }
  .pbd20 { padding-bottom: 12px !important; }
  .pbd25 { padding-bottom: 15px !important; }
  .pbd30 { padding-bottom: 18px !important; }
  .pbd35 { padding-bottom: 21px !important; }
  .pbd40 { padding-bottom: 24px !important; }
  .pbd45 { padding-bottom: 27px !important; }
  .pbd50 { padding-bottom: 30px !important; }
  .pbd55 { padding-bottom: 33px !important; }
  .pbd60 { padding-bottom: 36px !important; }
  .pbd65 { padding-bottom: 39px !important; }
  .pbd70 { padding-bottom: 42px !important; }
  .pbd75 { padding-bottom: 45px !important; }
  .pbd80 { padding-bottom: 48px !important; }
  .pbd85 { padding-bottom: 51px !important; }
  .pbd90 { padding-bottom: 54px !important; }
  .pbd95 { padding-bottom: 57px !important; }
  .pbd100 { padding-bottom: 60px !important; }
}
