.hide-small {
}
@media (max-width: 767px) {
  .hide-small{
    display: none !important
  }
  }

.hide-medium {
}

@media (min-width: 768px) and (max-width: 1023px) {
  .hide-medium{
    display: none !important
  }
  }

.hide-medium-down {
}

@media (max-width: 1023px) {
  .hide-medium-down{
    display: none !important
  }
  }

.hide-medium-up {
}

@media (min-width: 768px) {
  .hide-medium-up{
    display: none !important
  }
  }