@media (min-width: 768px) {
  .login-module-arrow {
    position: relative;
  }

  .login-module-arrow .arrow-in {
    position: absolute;
    left: 216px;
    top: -50px;
    width: 62px;
    height: 10px;
    overflow: hidden;
  }

  .login-module-arrow .arrow-in::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -13px;
    width: 62px;
    height: 23px;
    background: url(../../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/bg_emphasis_02.png%3b%20filename_%3dutf-8%27%27bg_emphasis_02.png) no-repeat;
  }
}

.login-module-question {
  position: relative;
}

.login-module-question > a {
  display: block;
  position: absolute;
  right: -23px;
  top: -23px;
  width: 26px;
  height: 26px;
  background: url(../../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/icon_question_01.png%3b%20filename_%3dutf-8%27%27icon_question_01.png) no-repeat;
}

@media (min-width: 768px) {
  .login-module-question > a {
    right: 5px;
    top: -35px;
  }
}

@media (min-width: 768px) {
  .login-module {
    display: table;
    width: 100%;
  }

  .login-module__heading, .login-module__desc, .login-module__button {
    display: table-cell;
    vertical-align: middle;
  }
}

.login-module__heading {
  color: #fff;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .login-module__heading {
    padding: 0 50px;
    text-align: center;
    white-space: nowrap;
  }

  .login-module__heading .heading-in {
    display: inline-block;
    text-align: left;
  }
}

.login-module__desc {
  font-size: 15px !important;
}

@media (min-width: 768px) {
  .login-module__desc {
    width: 100%;
  }

  .login-module__button {
    padding: 0 50px;
    text-align: center;
    white-space: nowrap;
  }
}

@media (max-width: 767px) {
  .login-module__desc {
    margin: 20px 0;
  }
}
