.platinum-services {
}
@media (max-width: 767px) {
  .platinum-services{
    background: #eff0f8
  }
  }

.platinum-services__intro {
}

@media (max-width: 767px) {
  .platinum-services__intro .section-intro__title{
    font-size: 33px
  }
  .platinum-services__intro:before{
    background: none !important
  }
  }

.platinum-services__services {
}

@media (max-width: 767px) {
  .platinum-services__services{
    margin: 0 -33px;
    padding: 0 33px;
    background: #eff0f8;
  }

  .platinum-services__services:last-child > li:last-child .image-overlay__overlay::after {
    display: none;
  }
  }

@media (min-width: 768px) {
  .platinum-services__services{
  }
  }