.site-header {
  color: #fff;
  font-family: Arial, "Helvetica Neue", "Helvetica", sans-serif;
}

.site-header__section {
  border-top: 1px solid rgba(151, 151, 151, .1)
}

@media (min-width: 768px) {
  .site-header__section{
    padding: 0 14px;
  }
  }

.logo {
  display: block;
}

.search-form__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #0549A4;
  border: none;
  border-radius: 16px;
  color: #fff;
  font-family: Arial, "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: normal;
  height: 33px;
  line-height: 32px;
  opacity: 0;
  outline: none;
  padding: 0 10px 0 35px;
  position: absolute;
  right: 0;
  top: -6px;
  width: 100%;
  z-index: 20;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

@media (min-width: 768px) {
  .search-form {
    padding: 0 8px;
    position: absolute;
    right: 0;
    top: 10px;
    width: 36px;
    -webkit-transition: width 400ms ease;
    transition: width 400ms ease;
  }

  .menu__nav .search-form-container {
    cursor: pointer;
    height: 22px;
    width: 18px;
    line-height: 1.3;
  }

  .search-open .search-form {
    width: 217px;
  }

  .search-open .search-form__input {
    display: block;
    opacity: 1;
  }

  .site-icon--search {
    background: #000000;
    background: rgba(0, 0, 0, 0);
    position: relative;
    z-index: 21;
  }
}

.utility-wrap a.external:after {
  content: "";
  display: inline-block;
  margin-left: 6px;
  width: 13px;
  height: 12px;
  background-image: url(../../../../images/module/icon_blank10-white.png);
  -webkit-background-size: 13px 12px;
  background-size: 13px 12px;
}

