.main .wwd-intro {
  position: relative;
  padding: 20px 33px 40px;
  background: #f7f7f8;
  background: -webkit-linear-gradient(top, #fafafb 0%, #f3f3f5 100%);
  background: linear-gradient(180deg, #fafafb 0%, #f3f3f5 100%);
  overflow: hidden;
}
@media (min-width: 768px) {
  .main .wwd-intro{
    padding: 80px 0;
  }
  }

@media (min-width: 768px) {
  .main .wwd-intro__in {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
  }
}

.main .wwd-intro .section-intro {
  padding-top: 20px;
}

@media (min-width: 768px) {
  .main .wwd-intro .section-intro {
    padding-top: 0;
  }
}

.wwd-intro__card-mobile {
  background: url('../../../../images/card_hand_horz.png') no-repeat center center;
  background-size: cover;
  margin-left: -33px;
  height: 195px;
  width: 315px
}

@media (min--moz-device-pixel-ratio: 1.3),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
  .wwd-intro__card-mobile{
    background-image: url('../../../../images/card_hand_horz%402x.png')
  }
  }

.wwd-intro__card-desktop {
  position: absolute;
  right: 95px;
  bottom: -80px;
  width: 325px;
  height: 344px;
  background: url('../../../../images/card_hand_vert.png') no-repeat center 0;
  background-size: 325px 344px;
}

@media (min--moz-device-pixel-ratio: 1.3),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
  .wwd-intro__card-desktop{
    background-image: url('../../../../images/card_hand_vert%402x.png')
  }
  }