.block-grid {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden
}

.block-grid > li {
}

@media (min-width: 768px) {
  .block-grid > li{
    clear: none;
    float: left
  }
    }

.block-grid--separated > li {
  margin-bottom: 45px;
}

.block-grid__caption {
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .block-grid--spaced.block-grid--4 > li {
    padding-left: 1.2%;
    padding-right: 1.2%;
  }
  .block-grid--spaced.block-grid--3 > li {
    padding-left: 2.9325%;
    padding-right: 2.9325%;
  }
  .block-grid--spaced.block-grid--2 > li {
    padding-left: 3.90625%;
    padding-right: 3.90625%
  }

  .block-grid--2 > li {
    width: 50%
  }

  .block-grid--2 > li:nth-child(2n+1) {
    clear: left;
  }

  .block-grid--3 > li {
    width: 33.33333%
  }

  .block-grid--3 > li:nth-child(3n+1) {
    clear: left;
  }

  .block-grid--4 > li {
    width: 25%
  }

  .block-grid--4 > li:nth-child(4n+1) {
    clear: left;
  }
}

.block-grid--mini {
  padding: 0 25%;
}

@media (max-width: 767px) {
  .block-grid--mini {
    padding: 0;
  }
}

@media (max-width: 767px) {
  [class*="block-grid--small-"] li {
    clear: none;
    float: left;
  }

  .block-grid--small-2 li {
    width: 50%
  }

  .block-grid--small-2 li:nth-child(2n+1) {
    clear: left;
  }

  .block-grid--small-2.block-grid--spaced li {
    padding-left: 1%;
    padding-right: 1%;
  }

  .block-grid--small-5 li {
    width: 20%;
  }

  .block-grid--small-5.block-grid--spaced li {
    padding-left: .25%;
    padding-right: .25%;
  }

  .block-grid--small-5:nth-child(5n+1) {
    clear: left;
  }
}
