*, *:after, *:before {
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}

nav, footer, header, section, article, figure, figcaption {
  display: block;
}

#svg-sprite {
  display: none;
}

.break {
  clear: both;
}

img {
  border: none;
}

.fitted-image {
  display: block;
  max-width: 100%;
}

@media (min-width: 768px) {
	div.main,
	footer.site-footer {
		min-width: 768px; /* ナビの長さによってこの数値は変動 */
	}
}