.simple-list, .inline-list, .list-group, .slick-dots, .link-grid, .nav-bar__nav ul, .responsive-list, .responsive-list ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.inline-list {
  position: relative
}

.inline-list>li {
  display: inline-block;
}


.inline-list--space-right li {
  margin-right: 1em;
  padding-right: 1em
}


.inline-list--space-right li:last-child {
  margin-right: 0;
  padding-right: 0;
}

.inline-list--space-left li {

}

.inline-list--space-left li:first-child {
  margin-left: 0;
  padding-left: 0;
}

.inline-list--dots li:last-child:after, .inline-list--bars li:last-child:after, .inline-list--angle li:last-child:after {
  content: "";
  margin: 0;
}

.inline-list--dots li:after, .inline-list--bars li:after, .inline-list--angle li:after {
  content: "\00b7";
  display: inline-block;
  margin: 0 .6em;
}

.inline-list--bars li:after {
  content: "\007c";
  margin: 0 .6em 0 .3em;
}

.inline-list--angle li:after {
  content: "\203a";
}

.inline-list--full {
  font-size: 0.1px;
  text-align: justify;
  -moz-text-align-last: right;
       text-align-last: right;
  width: 100%
}

.inline-list--full>li {
  font-size: 16px;
  font-size: 1rem;
}

.inline-list--full:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.inline-list--remove-space {
  line-height: 0;
}

.inline-list--right {
  text-align: right;
}

.inline-list__sub-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
}

.list-group dd {
  margin: 0;
}

.list-group li {
  margin-bottom: 15px;
}

.list-group__heading {
  font-family: Arial, "Helvetica Neue", "Helvetica", sans-serif;
  padding-bottom: 15px;
  margin-bottom: 25px;
  position: relative;
  font-weight: bold;
}

.list-group--quiet .list-group__heading {
  font-family: Arial, "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 21px;
  margin-bottom: 5px
}

.list-group--quiet .list-group__heading:after {
  display: none;
}

.list-group__heading:after {
  content: "";
  border-bottom: 1px solid currentColor;
  bottom: 0;
  display: block;
  left: 0;
  opacity: 0.3;
  position: absolute;
  width: 100%;
}