body {
  color: #7c7c85;
  font-family: Arial, "Helvetica Neue", "Helvetica", sans-serif;
}

a {
  color: #008eed;
  text-decoration: none
}

a:visited {
  color:#3545bf;
}

a:hover {
  text-decoration: underline;
}

.arrow-text:after {
  content: " \00a0\00a0\203a";
  display: inline-block;
  text-decoration: none;
  vertical-align: 1px;
}

.new-win:after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-left: 5px;
  background: url(../../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/icon_window_01.png%3b%20filename_%3dutf-8%27%27icon_window_01.png) no-repeat;
  background-size: contain;
  vertical-align: -1px;
  text-decoration: none;
}

.new-win2:after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 13px;
  margin-left: 5px;
  background: url(../../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/icon_window_02.png%3b%20filename_%3dutf-8%27%27icon_window_02.png) no-repeat;
  background-size: contain;
  vertical-align: -1px;
  text-decoration: none;
}

.new-win3:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  background: url(../../../../images/module/icon_window_03.png) no-repeat;
  background-size: contain;
  vertical-align: 0;
  text-decoration: none;
}

.pdf-text:after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  background: url(../../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/icon_pdf_01.png%3b%20filename_%3dutf-8%27%27icon_pdf_01.png) no-repeat;
  vertical-align: -1px;
  text-decoration: none;
}

.back-text {
  display: block;
  position: relative;
  padding-left: 13px;
}

.back-text::before {
  content: "\2039\00a0\00a0";
  display: block;
  position: absolute;
  left: 0;
  top: -1px;
  color: #008eed;
  text-decoration: none;
}

.down-text::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  background: url(../../../../images/module/icon_arrow_01.png) no-repeat;
  background-size: contain;
  vertical-align: -1.5px;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

/* Static Sizes Across Breakpoints */

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Arial, "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 1.2;
}

.h1 {
  font-size: 48px;
  letter-spacing: -1px;
}

.h2 {
  font-size: 33px;
  letter-spacing: -1px;
}

.h3 {
  font-size: 24px;
  letter-spacing: -1px;
}

.h4 {
  font-size: 20px;
}

.h5 {
  font-size: 18px;
}

.h6 {
  font-size: 16px;
}

.text-page-title {
  font-size: 48px;
  font-family: Arial, "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 1.2
}

@media (min-width: 768px) {
  .text-page-title{
    font-size: 98px
  }
  }

.text-em {
  color: #008eed !important;
}

.text-contrast {
  color: #303038 !important;
}

.text-highlight {
  color: #a3a3a3 !important;
}

.text-white {
  color: #fff !important;
}

.text-green {
  color: #5cb531 !important;
}

.text-default {
  color: #7c7c85 !important;
}

.text-darkblue {
  color: #004f8d !important;
}

.text-aqua {
  color: #1abdd6 !important;
}

.text-label {
  font-family: Arial, "Helvetica Neue", "Helvetica", sans-serif;
  font-style: normal;
  letter-spacing: 1px;
}

.text-center {
  text-align: center;
}

.text-loose {
  line-height: 1.5;
}

.text-intro {
  font-size: 20px;
  line-height: 30px;
}

sup, sub {
   vertical-align: baseline;
   position: relative;
   top: -0.2em;
}
sub { top: 0.2em; }

strong, b {
  font-family: Arial, "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: normal;
}

small {
  font-size: 14px;
}

.fs0 { font-size: 0px !important; }
.fs1 { font-size: 1px !important; }
.fs2 { font-size: 2px !important; }
.fs3 { font-size: 3px !important; }
.fs4 { font-size: 4px !important; }
.fs5 { font-size: 5px !important; }
.fs6 { font-size: 6px !important; }
.fs7 { font-size: 7px !important; }
.fs8 { font-size: 8px !important; }
.fs9 { font-size: 9px !important; }
.fs10 { font-size: 10px !important; }
.fs11 { font-size: 11px !important; }
.fs12 { font-size: 12px !important; }
.fs13 { font-size: 13px !important; }
.fs14 { font-size: 14px !important; }
.fs15 { font-size: 15px !important; }
.fs16 { font-size: 16px !important; }
.fs17 { font-size: 17px !important; }
.fs18 { font-size: 18px !important; }
.fs19 { font-size: 19px !important; }
.fs20 { font-size: 20px !important; }
.fs21 { font-size: 21px !important; }
.fs22 { font-size: 22px !important; }
.fs23 { font-size: 23px !important; }
.fs24 { font-size: 24px !important; }
.fs25 { font-size: 25px !important; }
.fs26 { font-size: 26px !important; }
.fs27 { font-size: 27px !important; }
.fs28 { font-size: 28px !important; }
.fs29 { font-size: 29px !important; }
.fs30 { font-size: 30px !important; }
.fs31 { font-size: 31px !important; }
.fs32 { font-size: 32px !important; }
.fs33 { font-size: 33px !important; }
.fs34 { font-size: 34px !important; }
.fs35 { font-size: 35px !important; }
.fs36 { font-size: 36px !important; }
.fs37 { font-size: 37px !important; }
.fs38 { font-size: 38px !important; }
.fs39 { font-size: 39px !important; }
.fs40 { font-size: 40px !important; }
.fs41 { font-size: 41px !important; }
.fs42 { font-size: 42px !important; }
.fs43 { font-size: 43px !important; }
.fs44 { font-size: 44px !important; }
.fs45 { font-size: 45px !important; }
.fs46 { font-size: 46px !important; }
.fs47 { font-size: 47px !important; }
.fs48 { font-size: 48px !important; }
.fs49 { font-size: 49px !important; }
.fs50 { font-size: 50px !important; }

.lh0 { line-height: 0; }
.lh1 { line-height: 0.1; }
.lh2 { line-height: 0.2; }
.lh3 { line-height: 0.3; }
.lh4 { line-height: 0.4; }
.lh5 { line-height: 0.5; }
.lh6 { line-height: 0.6; }
.lh7 { line-height: 0.7; }
.lh8 { line-height: 0.8; }
.lh9 { line-height: 0.9; }
.lh10 { line-height: 1; }
.lh11 { line-height: 1.1; }
.lh12 { line-height: 1.2; }
.lh13 { line-height: 1.3; }
.lh14 { line-height: 1.4; }
.lh15 { line-height: 1.5; }
.lh16 { line-height: 1.6; }
.lh17 { line-height: 1.7; }
.lh18 { line-height: 1.8; }
.lh19 { line-height: 1.9; }
.lh20 { line-height: 2; }
.lh21 { line-height: 2.1; }
.lh22 { line-height: 2.2; }
.lh23 { line-height: 2.3; }
.lh24 { line-height: 2.4; }
.lh25 { line-height: 2.5; }
.lh26 { line-height: 2.6; }
.lh27 { line-height: 2.7; }
.lh28 { line-height: 2.8; }
.lh29 { line-height: 2.9; }
.lh30 { line-height: 3; }
.lh31 { line-height: 3.1; }
.lh32 { line-height: 3.2; }
.lh33 { line-height: 3.3; }
.lh34 { line-height: 3.4; }
.lh35 { line-height: 3.5; }
.lh36 { line-height: 3.6; }
.lh37 { line-height: 3.7; }
.lh38 { line-height: 3.8; }
.lh39 { line-height: 3.9; }
.lh40 { line-height: 4; }
.lh41 { line-height: 4.1; }
.lh42 { line-height: 4.2; }
.lh43 { line-height: 4.3; }
.lh44 { line-height: 4.4; }
.lh45 { line-height: 4.5; }
.lh46 { line-height: 4.6; }
.lh47 { line-height: 4.7; }
.lh48 { line-height: 4.8; }
.lh49 { line-height: 4.9; }
.lh50 { line-height: 5; }
