.utility-wrap {
}
@media (min-width: 768px) {
  .utility-wrap{
    padding: 0 14px;
  }
  }
.utility {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  font-size: 12px;
  font-family: Arial, "Helvetica Neue", "Helvetica", sans-serif;
  height: 45px;
  table-layout: fixed;
}

.utility__label {
  display: table-cell;
  padding-left: 18px;
  opacity: .6;
  font-size: 10px;
  vertical-align: middle;
  white-space: nowrap;
}

.utility__nav {
  display: table-cell;
  letter-spacing: 1px;
  vertical-align: middle;
  width: 100%;
  position: relative;
  top: 2px;
  font-size: 11px;
}

.utility__nav a {
  color: currentColor;
}
