.accordion {
  margin: 15px 10px;
}

@media (min-width: 768px) {
  .accordion{
    margin-left: 0;
    margin-right: 0;
  }

  .accordion.ptn2 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.accordion__trigger {
  background: #F6F7FB;
  border-left: 4px solid #008eed;
  border-radius: 4px;
  color: #303038;
  display: block;
  font-size: 24px;
  margin: 0;
  padding: 12px 20px;
  position: relative;
  z-index: 20;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (min-width: 768px) {
  .accordion.ptn2 .accordion__trigger {
    padding: 20px 0;
    border-bottom: 1px solid #eff0f8;
    border-left: none;
    border-radius: 0;
    background: none;
  }
}

.accordion.ptn3 .accordion__trigger {
  height: 110px;
  padding: 40px 20px 12px 225px;
  border-left: none;
  font-size: 21px;
}

@media (max-width: 767px) {
  .accordion.ptn3 .accordion__trigger {
    height: 80px;
    padding: 26px 20px 12px 152px;
    font-size: 17px;
  }
}

.accordion.ptn3 .accordion__trigger .picture {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

@media (max-width: 767px) {
  .accordion.ptn3 .accordion__trigger .picture {
    width: 142px;
    height: 80px;
  }
}

.accordion__content {
  background: #fff;
  border-top: none;
  margin: 0;
  overflow: hidden;
}

.accordion__padding {
  border: 1px solid #eaecf5;
  border-top: none;
  padding: 30px
}

@media (min-width: 768px) {
  .accordion__padding{
    padding: 65px 40px;
  }

  .accordion.ptn2 .accordion__padding{
    padding: 20px 0 65px;
    border: none;
  }
}

.accordion__expand {
  border: 1px solid #008eed;
  border: 1px solid rgba(0, 142, 237, .3);
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  height: 30px;
  float: right;
  vertical-align: middle;
  position: relative;
  width: 30px
}

.accordion__expand:before {
  height: 1px;
  width: 15px;
}

.accordion__expand:after {
  height: 15px;
  width: 1px;
}

.accordion__expand:after, .accordion__expand:before {
  background: #008eed;
  bottom: 0;
  content: "";
  left: 0;
  margin: auto;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.accordion--open .accordion__trigger {
  border-radius: 4px 4px 0 0;
}
.accordion--open .accordion__expand:after {
  opacity: 0;
}

.accordion.ptn3 .accordion__expand::before {
  left: 50%;
  right: auto;
  top: 50%;
  width: 12px;
  height: 7px;
  margin: -3.5px 0 0 -6px;
  background: url(../../../images/module/icon_arrow_06.png) no-repeat;
  background-size: contain;
}

.accordion--open.ptn3 .accordion__expand::before {
  background-image: url(../../../images/module/icon_arrow_05.png);
}

.accordion.ptn3 .accordion__expand::after {
  display: none;
}

/* breadcrumb.css */
.breadcrumb {
  background: #0063bf;
  color: #fff;
  font-size: 13px;
}
.breadcrumb a {
  color: inherit;
}
.breadcrumb.section {
  padding: 15px 40px
}
@media (min-width: 768px) {
  .breadcrumb.section{
    padding: 15px 0
  }
    }

.breadcrumb__active {
  color: #abcfe7;
}

/* button.css */
.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 3em;
  color: #008eed;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.3;
  margin: 0;
  padding: 1em 1.4em;
  text-align: center;
  text-shadow: none;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle
}
.button:hover {
  background-color: #F0F0F0;
  text-decoration: none;
}

.button--primary {
  background-color: #008eed;
  color: #fff
}

.button--primary:visited{
  color:#fff;
}

.button--primary:hover {
  background-color: #026cb2;
}

.button--secondary {
  background-color: #5cb531;
  color: #fff
}

.button--secondary:visited {
  color:#fff;
}

.button--secondary:hover {
  background-color: #54a12e;
}

.button--warn {
  background-color: #e81e50;
  color: #fff
}

.button--warn:visited{
  color:#fff;
}
.button--warn:hover {
  background-color: #ba163f;
}

.button--square {
  border-radius: 5px;
  font-family: Arial, "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 11px;
  padding: 1.45em 2em;
}

.split-button.split-button--center {
}

@media (max-width: 767px) {
  .split-button.split-button--center{
    text-align: center
  }
  }

.split-button {
  background: #008eed;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: white;
  display: block;
  font-size: 14px;
  padding: 15px 65px 13px 20px;
  position: relative;
  text-align: right;
  white-space: nowrap;
}

.split-button .arrow {
  background: #0083e1;
  bottom: 0;
  line-height: 45px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 45px
}

.split-button em {
  font-family: Arial, "Helvetica Neue", "Helvetica", sans-serif;
  font-style: normal;
}

@media (min-width: 768px) {
  .split-button{
    box-shadow: none;
    display: inline-block;
    padding: 27px 80px 27px 25px;
    text-align: left
  }
  }

@media (min-width: 768px) {
  .split-button .arrow{
    line-height: 90px;
    width: 57px
  }
    }

@media (min-width: 768px) {
  .split-button em{
    display: block
  }
    }

/* card.css */
.card {
  color: #7c7c85;
  font-family: Arial, "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 1.6875;
  margin: 40px 0;
  overflow: hidden;
  position: relative;
}
.card h4 {
  color: #303038;
}
@media (min-width: 768px) {
  .card{
    margin-bottom: 60px;
    margin-top: 60px
  }
  }

.main .card__image {
  height: auto;
  margin-bottom: 20px;
  width: 100%

}

@media (min-width: 768px) {
  .main .card__image{
    float: left;
    width: calc(50% - 10px);
  }
  .main .card--reverse .card__image{
    float: right
  }
  }

.card__detail {
}

@media (min-width: 768px) {
  .card__detail{
    background: #fbfbfc;
    left: calc(-8.33333% + 10px);
    margin-top: 6.6%;
    margin-left: 50%;
    min-height: 340px;
    padding: 70px;
    position: relative;
    width: 58.33333%;
  }
  .card--reverse .card__detail{
    left: 0;
    margin-left: 0
  }
  }

/* carousel.css */
.carousel {
  margin-top: 50px;
  padding: 0;
}

@media (min-width: 768px) {
  .carouselNum1 {
    width: 251px;
    margin-right: auto;
    margin-left: auto;
  }

  .carouselNum2 {
    width: 502px;
    margin-right: auto;
    margin-left: auto;
  }

  .carouselNum3 {
    width: 753px;
    margin-right: auto;
    margin-left: auto;
  }
}

.slick-dots {
  margin-top: 20px;
}

.slick-dots button {
  font-size: 0.1px;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  position: relative;
  background: transparent
}

.slick-dots button:before {
  font-size: 30px;
  line-height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  color: #EBEDF1;
  -webkit-font-smoothing: antialiased;
}

.slick-dots li.slick-active button:before {
  color: #008eed;
}

.carousel .slick-dots li {
  display: inline-block;
  padding: 0 2px;
}

.carousel a {
  color: inherit;
  display: block;
  outline: none
}

.carousel a:hover {
  text-decoration: none;
}

/* dropdown-navi.css */
@media (min-width: 768px) {
/* dropdown_submenu */

.dropdown_submenu li:hover:not(.hide-small):not(.no-dropdown), .dropdown_submenu li.navfocus:not(.hide-small):not(.no-dropdown) {
	background: #FBFDFF!important;
	color: #0054af;
	border-radius: 5px 5px 0px 0px;
}
.dropdown_submenu li ul {
	display: none;
	width: 270px;
	background: #FBFDFF;
	border-radius: 0px 5px 5px 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: -18px;
	margin-top: 9px;
	position:fixed;
}

.dropdown_submenu li ul li {
	padding: 0;
	display: inline;
	position:relative;
}
.dropdown_submenu li ul li:first-child {
    padding-left: 0px;
}
.dropdown_submenu li ul li a {
	display: block;
	width: 270px;
	height: 3em;
	background: #FBFDFF;
  filter: none;
	color: #008eed;
	font-size: 14px;
	line-height: 3em;
	padding-left: 30px;
}
.dropdown_submenu li ul li a:hover {
	background-color: #e2f0fa;
	color: #000000;
}
.dropdown_submenu li ul li a:after {
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	content: '';
	width: 8px !important;
	height: 8px;
	margin-top: -4px;
	border-top: 1px solid #008eed;
	border-right: 1px solid #008eed;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	background-color: #FBFDFF;
	margin-right: 10px;
    margin-left : auto;
}
.dropdown_submenu li ul li a:hover:after {
	background-color: #e2f0fa;
	border-top-color: #000000;
	border-right-color: #000000;
}
}
@media (max-width: 767px) {
	.dropdown_submenu li ul {
	display: block!important;
}
}

/* dropdown.css */
.dropdown {
  position: relative
}
.dropdown:after, .dropdown:before {
  display: none !important;
}

.dropdown__trigger {

}

.dropdown__content {
  background: #fff;
  border: 1px solid #e2e4e8;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
  list-style: none;
  margin: 5px 0 0 0;
  padding: 0;
  position: absolute;
  display: none;
  text-align: center;
  width: 90px;
  z-index: 90;
}

.dropdown__content li a {
  color: #008eed;
  display: block;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 33px;
  text-transform: none
}

.dropdown__content li a:hover {
  background: #e2f0fa;
  text-decoration: none;
}

.dropdown__content li:after, .dropdown__content li:before {
  display: none;
}

.dropdown__content:after {
  border: inset 7px;
  border-color: transparent transparent #e2e4e8 transparent;
  top: -14px;
  z-index: 88;
}

.dropdown__content:before {
  border: inset 6px;
  border-color: transparent transparent #ffffff transparent;
  top: -12px;
  z-index: 89;
}

.dropdown__content:before, .dropdown__content:after {
  border-bottom-style: solid;
  content: "";
  display: block;
  height: 0;
  width: 0;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.dropdown__content.dropdown__content--open {
  right: 0;
  display: block;
}

/* emergency.css */
.emergency-wrap {
  background: #303038;
}

.emergency-wrap-in {
  max-width: 1024px;
  max-width: 64rem;
  min-width: 768px; /* ナビの長さによってこの数値は変動 */
  margin: -1px auto 0;
  padding: 0 0.625rem;
  background: #303038;
}

@media (max-width: 767px) {
  .emergency-wrap-in {
    min-width: 0; /* ナビの長さによってこの数値は変動 */
    padding: 0 20px;
  }
}

.emergency-banner {
  position: relative;
  padding: 15px 52px 15px 0;
  border-top: 1px solid #7c7c85;
  background: #303038;
  color: #d5d5d7;
  font-size: 15px;
  line-height: 1.5;
}

.emergency-banner__in {
  display: table;
  width: 100%;
}

@media (max-width: 767px) {
  .emergency-banner__in {
    display: block;
  }
}

.emergency-banner__label,
.emergency-banner__txt,
.emergency-banner__btn {
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 767px) {
  .emergency-banner__label,
  .emergency-banner__txt,
  .emergency-banner__btn {
    display: block;
  }
}

.emergency-banner__label {
  padding-right: 10px;
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
}

.emergency-banner__label .text-label {
  margin-left:3px;
}


@media (max-width: 767px) {
  .emergency-banner__label {
    margin-bottom: 5px;
    padding-right: 0;
    white-space: normal;
  }
}

.emergency-banner__txt {
  width: 100%;
}

.emergency-banner__txt .linkTxt {
  margin: 5px 0 0;
}

.emergency-banner__txt .linkTxt a {
  color: #d5d5d7;
  font-size: 15px;
  text-decoration: underline;
}

.emergency-banner__txt .linkTxt a:hover,
.emergency-banner__txt .linkTxt a:active {
  text-decoration: none;
}

.emergency-banner__txt .linkTxt a::after {
  content: " \00a0\00a0\203a";
  display: inline-block;
  text-decoration: none;
  vertical-align: 1px;
}

.emergency-banner__btn {
  white-space: nowrap;
}

.emergency-banner__close {
  color: #fff;
  cursor: pointer;
  height: 22px;
  position: absolute;
  right: 15px;
  top: 50%;
  vertical-align: middle;
  width: 22px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

.emergency-banner__close:after {
  bottom: 0;
  -ms-transform: translate(-4px, -11px) rotate(45deg);
  -webkit-transform: translate3d(-4px, -11px, 0) rotate3d(0, 0, 1, 45deg);
  transform: translate3d(-4px, -11px, 0) rotate3d(0, 0, 1, 45deg);
}

.emergency-banner__close:before {
  top: 0;
  -ms-transform: translate(-4px, 10px) rotate(-45deg);
  -webkit-transform: translate3d(-4px, 10px, 0) rotate3d(0, 0, 1, -45deg);
  transform: translate3d(-4px, 10px, 0) rotate3d(0, 0, 1, -45deg);
}

.emergency-banner__close:before, .emergency-banner__close:after {
  background: currentColor;
  content: "";
  display: inline-block;
  height: 1px;
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 30px;
}

/* hamburger.css */
.hamburger__icon, .hamburger__icon:before, .hamburger__icon:after{
  background: currentColor;
  display: inline-block;
  height: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 30px;
}

.hamburger {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  color: currentColor;
  cursor: pointer;
  display: inline-block;
  font-size: 0.1px;
  height: 30px;
  outline: none;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  width: 30px
}

.hamburger:active {
  -webkit-transition: 0;
  transition: 0;
}

.hamburger__icon {
  position: relative;
  top: -1px;
  vertical-align: middle;
}

.hamburger--open .hamburger__icon {
  background: transparent
}

.hamburger--open .hamburger__icon:after {
  width: 42px;
  -ms-transform: translate(-6px, -6px) rotate(-45deg);
  -webkit-transform: translate3d(-6px, -6px, 0) rotate3d(0, 0, 1, -45deg);
  transform: translate3d(-6px, -6px, 0) rotate3d(0, 0, 1, -45deg);
}

.hamburger--open .hamburger__icon:before {
  width: 42px;
  -ms-transform: translate(-6px, 6px) rotate(45deg);
  -webkit-transform: translate3d(-6px, 6px, 0) rotate3d(0, 0, 1, 45deg);
  transform: translate3d(-6px, 6px, 0) rotate3d(0, 0, 1, 45deg);
}

.hamburger__icon:after {
  top: 6px;
}

.hamburger__icon:before {
  top: -6px;
}

.hamburger__icon:before, .hamburger__icon:after {
  position: absolute;
  left: 0;
  content: "";
  -webkit-transform-origin: center center;
              -ms-transform-origin: center center;
          transform-origin: center center;
}