@media (min-width: 768px) {
/* dropdown_submenu */

.dropdown_submenu li:hover:not(.hide-small):not(.no-dropdown), .dropdown_submenu li.navfocus:not(.hide-small):not(.no-dropdown) {
	background: #FBFDFF!important;
	color: #0054af;
	border-radius: 5px 5px 0px 0px;
}
.dropdown_submenu li ul {
	display: none;
	width: 250px;
	background: #FBFDFF;
	border-radius: 0px 5px 5px 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: -18px;
	margin-top: 9px;
	position:absolute;
}

.dropdown_submenu li ul li {
	padding: 0;
	display: inline;
	position:relative;
}
.dropdown_submenu li ul li:first-child {
    padding-left: 0px;
}
.dropdown_submenu li ul li a {
	display: block;
	width: 250px;
	height: 3em;
	background: #FBFDFF;
	color: #008eed;
	font-size: 13px;
	line-height: 3em;
	padding-left: 30px;
}
.dropdown_submenu li ul li a:hover {
	background-color: #e2f0fa;
	color: #000000;
}
.dropdown_submenu li ul li a:after {
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	content: '';
	width: 8px !important;
	height: 8px;
	margin-top: -4px;
	border-top: 1px solid #008eed;
	border-right: 1px solid #008eed;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	background-color: #FBFDFF;
	margin-right: 10px;
    margin-left : auto;
}
.dropdown_submenu li ul li a:hover:after {
	background-color: #e2f0fa;
	border-top-color: #000000;
	border-right-color: #000000;
}
}
@media (max-width: 767px) {
	.dropdown_submenu li ul {
	display: block!important;
}
}