.image-overlay {
  color: inherit;
  font-size: 16px;
  font-family: Arial, "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 30px;
  margin: 0;
  padding: 0;
  position: relative;
}
.image-overlay img {
  display: none
}
@media (min-width: 768px) {
  .image-overlay{
    color: #fff;
    font-size: 24px;
    font-family: Arial, "Helvetica Neue", "Helvetica", sans-serif;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: none
  }
  }
@media (min-width: 768px) {
  .image-overlay img{
    display: block
  }
    }

.image-overlay--subdued {
}

@media (min-width: 768px) {
  .image-overlay--subdued{
    font-size: 20px;
    line-height: 22px
  }
  }

.image-overlay__overlay {
  color: inherit;
  display: block;
  padding: 25px 0;
  position: relative;
  text-align: center
}

.image-overlay__overlay:after {
  background: currentColor;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  opacity: 0.3;
  position: absolute;
  width: 100%;
}

.image-overlay__overlay:visited {
 color: #7c7c85;
}


@media (min-width: 768px) {
  .image-overlay__overlay{
    background: #2e3865;
    background: rgba(46, 56, 101, .4);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
  }
  .image-overlay__overlay:after{
    position: static
  }
  
  .image-overlay__overlay:visited {
    color:#fff;
  }
  }

.image-overlay__caption {
}

@media (min-width: 768px) {
  .image-overlay__caption{
    left: 15%;
    position: absolute;
    right: 15%;
    top: 50%;
    -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
            transform: translateY(-50%)
  }
  }