.masthead {
  background-position: center center;
  background-size: cover;
  border-collapse: collapse;
  color: #fff;
  display: table;
  height: 325px;
  line-height: 24px;
  table-layout: fixed;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  width: 100%
}
@media (min-width: 768px) {
  .masthead{
    height: 460px
  }
  }

.masthead__content {
  display: table-cell;
  vertical-align: middle;
}

.masthead--subdued {
  text-shadow: none;
}

.masthead--section {
}

@media (min-width: 768px) {
  .masthead--section{
    height: 367px
  }
  }

.masthead__title {
  font-size: 48px;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .masthead__title{
    font-size: 64px
  }
  }

.masthead__lead {
  display: block;
  margin-top: 15px;
  font-size: 21px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .masthead__lead {
    font-size: 23px;
  }
}

.masthead__desc--narrow {
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
  padding: 0 50px;
}

.masthead--home {
  background-image: url('http://lorempixel.com/1920/1068/city/1');
}

@media (min-width: 768px) {
  .masthead--home{
    height: 534px
  }
  }

.masthead--apply {
  background-image: url('../../../images/masthead_apply_bg.png');
}

.masthead--consumers {
  background-image: url('../../../images/pic_visual_consumers_01.jpg');
}
@media (max-width: 767px) {
  .masthead--consumers {
    background-image: url('../../../images/pic_visual_consumers_01_sp.jpg');
}
}

.masthead--promotions {
  background-image: url('../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/pic_visual_promotions_01.jpg%3b%20filename_%3dutf-8%27%27pic_visual_promotions_01.jpg');
  background-position: 50% 0;
}
@media (max-width: 767px) {
  .masthead--promotions {
    background-image: url('../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/pic_visual_promotions_01_sp.jpg%3b%20filename_%3dutf-8%27%27pic_visual_promotions_01_sp.jpg');
    background-position: 50% 0;
}
}

.masthead--travel {
  background-image: url('../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/pic_visual_travel_01.jpg%3b%20filename_%3dutf-8%27%27pic_visual_travel_01.jpg');
  background-position: 50% 0;
}
@media (max-width: 767px) {
  .masthead--travel {
    background-image: url('../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/pic_visual_travel_01_sp.jpg%3b%20filename_%3dutf-8%27%27pic_visual_travel_01_sp.jpg');
    background-position: 50% 0;
  }
}

.masthead--welcome {
  background-image: url('../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/pic_visual_welcome_01.jpg%3b%20filename_%3dutf-8%27%27pic_visual_welcome_01.jpg');
}
@media (max-width: 767px) {
  .masthead--welcome {
    background-image: url('../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/pic_visual_welcome_01_sp.jpg%3b%20filename_%3dutf-8%27%27pic_visual_welcome_01_sp.jpg');
}
}

.masthead--platinum {
  background-image: url('../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/pic_visual_platinum_01.jpg%3b%20filename_%3dutf-8%27%27pic_visual_platinum_01.jpg');
}
@media (max-width: 767px) {
  .masthead--platinum {
    background-image: url('../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/pic_visual_platinum_01_sp.jpg%3b%20filename_%3dutf-8%27%27pic_visual_platinum_01_sp.jpg');
}
}

.masthead--products {
  background-image: url('../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/pic_visual_product_01.jpg%3b%20filename_%3dutf-8%27%27pic_visual_product_01.jpg');
}
@media (max-width: 767px) {
  .masthead--products {
    background-image: url('../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/pic_visual_product_01_sp.jpg%3b%20filename_%3dutf-8%27%27pic_visual_product_01_sp.jpg');
}
}

.masthead--cards {
  background-image: url('../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/pic_visual_cards_01.jpg%3b%20filename_%3dutf-8%27%27pic_visual_cards_01.jpg');
}
@media (max-width: 767px) {
.masthead--cards {
  background-image: url('../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/pic_visual_cards_01_sp.jpg%3b%20filename_%3dutf-8%27%27pic_visual_cards_01_sp.jpg');
  }
}
.masthead--security {
  background-image: url('../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/pic_visual_security_01.jpg%3b%20filename_%3dutf-8%27%27pic_visual_security_01.jpg');
}

.masthead--merchants {
  background-image: url('../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/pic_visual_merchants_01.jpg%3b%20filename_%3dutf-8%27%27pic_visual_merchants_01.jpg');
}
@media (max-width: 767px) {
.masthead--merchants {
  background-image: url('../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/pic_visual_merchants_01_sp.jpg%3b%20filename_%3dutf-8%27%27pic_visual_merchants_01_sp.jpg');
  }
}
.masthead--about-us {
  background-image: url('../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/pic_visual_about-us_01.jpg%3b%20filename_%3dutf-8%27%27pic_visual_about-us_01.jpg');
}
@media (max-width: 767px) {
  .masthead--about-us {
    background-image: url('../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/pic_visual_about-us_01_sp.jpg%3b%20filename_%3dutf-8%27%27pic_visual_about-us_01_sp.jpg');
  }
}
.masthead--company {
  background-image: url('../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/pic_visual_company_01.jpg%3b%20filename_%3dutf-8%27%27pic_visual_company_01.jpg');
  background-position: 50% 0;
}
@media (max-width: 767px) {
.masthead--company {
  background-image: url('../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/pic_visual_company_01_sp.jpg%3b%20filename_%3dutf-8%27%27pic_visual_company_01_sp.jpg');
  background-position: 50% 0;
  }
}
.masthead--payment {
  background-image: url('../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/pic_visual_payment_01.jpg%3b%20filename_%3dutf-8%27%27pic_visual_payment_01.jpg');
}
@media (max-width: 767px) {
.masthead--payment {
  background-image: url('../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/pic_visual_payment_01_sp.jpg%3b%20filename_%3dutf-8%27%27pic_visual_payment_01_sp.jpg');
  }
}

.masthead--contactless {
  background-image: url('../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/contactless2202566.jpg%3b%20filename_%3dutf-8%27%27contactless2202566.jpg');
}

@media (max-width: 767px){
.masthead--contactless {
  background-image: url('../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/contactless2202566_sp.jpg%3b%20filename_%3dutf-8%27%27contactless2202566_sp.jpg');
  }
}