.container-chrome {
  position: static;
}
.menu {
  position: static;
  width: 100%
}
@media(min-width: 768px) {
  .menu{
    display: table;
    margin-top: -9px
  }
  }

.menu__header {
  background: -webkit-linear-gradient(left, #008eed 0%,#0054af 100%);
  background: linear-gradient(90deg, #008eed 0%,#0054af 100%);
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  height: 55px;
  position: relative;
  width: 100%;
  z-index: 100
}

@media(min-width: 768px) {
  .menu__header{
    background: none;
    display: table-cell;
    height: auto;
    width: auto
  }
  }

.menu__brand {
  display: table-cell;
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", "Helvetica", sans-serif;
  padding: 0 0 0 20px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle
}
.menu__brand img{
  height: 33px;
}

@media (min-width: 768px) {
  .menu__brand{
    display: inline-block;
    padding: 0 0 8px 1px;
    height: 80px;
  }
  .menu__brand img{
    height: 62px;
  }
}

.menu__toggle {
  display: table-cell;
  padding-right: 20px;
  text-align: right;
  vertical-align: middle
}

@media (min-width: 768px) {
  .menu__toggle{
    display: none
  }
  }

.menu__nav {
  position: absolute;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  width: 100%;
  z-index: 21;
}

.menu--open .menu__nav {
  z-index: 21;
}

@media (min-width: 768px) {
  .menu__nav{
    background: none;
    display: table-cell;
    position: relative;
    -webkit-transform: translateY(0) !important;
        -ms-transform: translateY(0) !important;
            transform: translateY(0) !important;
    width: auto;
  }
}

@media (max-width: 767px) {
  .menu__nav{
    z-index: -10;
  }
  .menu {
    overflow: visible;
  }
  .menu:not(.menu--open) {
    overflow: hidden;
  }
  #primary-navigation {
    background: -webkit-linear-gradient(left, #008eed 0%,#0054af 100%);
    background: linear-gradient(90deg, #008eed 0%,#0054af 100%);
    filter: filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008eed', endColorstr='#0054af',GradientType=1 ); /* IE6-9 */
    height: 0px;
    overflow: hidden;
  }
}