.nav-bar {
  background: #0078c7;
  background: -webkit-linear-gradient(60deg, #0078c7 0%, #004794 100%);
  background: linear-gradient(30deg, #0078c7 0%, #004794 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078c7', endColorstr='#004794', GradientType=1)";
  font-size: 12px;
  font-family: Arial, "Helvetica Neue", "Helvetica", sans-serif;
  letter-spacing: 1px;
  min-width: 768px;
}
@media (max-width: 767px) {
.nav-bar {
  min-width: 0;
  }
}


.nav-bar__wrapper {
  display: table;
  margin: auto;
  height: 45px;
  max-width: 1024px;
  width: 100%;
}

/* IE 9 Hack */
:root .nav-bar__wrapper {
  height: 64px\0/;
}

.nav-bar__prefix {
  background: #006ab1;
  background: -webkit-linear-gradient(60deg, #006ab1 0%, #0064ab 100%);
  background: linear-gradient(30deg, #006ab1 0%, #0064ab 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#006ab1', endColorstr='#0064ab', GradientType=1)";
  color: white;
  display: table-cell;
  font-family: Arial, "Helvetica Neue", "Helvetica", sans-serif;
  letter-spacing: 0;
  padding: 1px 40px 0;
  position: relative;
  text-transform: capitalize;
  vertical-align: middle;
  white-space: nowrap;
  z-index: 20;
  text-align: center;
}

.nav-bar__prefix a {
  color: white;
}

.nav-bar__prefix:before {
  content: url("../../../../../../jcb.sitecorecontenthub.cloud/api/public/content/bg_nav-bar__prefix.png%3b%20filename_%3dutf-8%27%27bg_nav-bar__prefix.png");
  display: block;
  height: 45px;
  position: absolute;
  right: -17px;
  top: 0;
  width: 18px;
  z-index: 30;
}

.nav-bar__nav {
  display: table-cell;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 10;
}

.nav-bar__nav ul {
  display: table;
  height: 100%;
  width: 100%
}

.nav-bar__nav li {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.nav-bar__nav a {
  color: #fff;
  display: inline-block;
  font-size: 10px;
  padding: 1px 15px 0;
  white-space: nowrap;
  width: 100%;
  border-right: 1px solid #4d94cb;
  font-weight: bold;
}

/* IE 9 Hack */
:root .nav-bar__nav a {
  font-size: 9px\0/;
}

.nav-bar__nav .lowerCase a {
  text-transform: none;
}

.nav-bar__nav .nav-bar__prefix a {
  border-right: none;
  text-transform: none;
}

.nav-bar__nav li.active {
  background: #008eed;
  text-decoration: none;
}

.nav-bar__nav li.active a {
  border-right: 1px solid #008eed;
}

.nav-bar__nav-container {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 45px; /* 100% causes IE bug */
  overflow: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  box-sizing: content-box;
}

/* IE 9 Hack */
:root .nav-bar__nav-container {
  height: 64px\0/;
}

