.scroll-icon {
  background: #008eed;
  border: 2px solid #fff;
  border-radius: 22px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  height: 22px;
  padding-left: 1px;
  position: relative;
  text-align: center;
  width: 22px;
  -webkit-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.scroll-icon svg {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  stroke-width: 2;
}