.section {
  line-height: 27px;
  padding: 35px 40px
}
@media(min-width: 768px) {
  .section{
    padding: 50px 0
  }
  }

.section--compact {
}

@media (min-width: 768px) {
  .section--compact{
    padding: 30px
  }
  }

.section--large-bottom {
}

@media (min-width: 768px) {
  .section--large-bottom{
    padding-bottom: 100px
  }
  }

.section--large-top {
}

@media (min-width: 768px) {
  .section--large-top{
    padding-top: 100px
  }
  }

.section--collapse {
}

@media (max-width: 767px) {
  .section--collapse{
    padding-bottom: 0;
    padding-top: 0
  }
  }

.section__breakout {
}

@media(max-width: 767px) {
  .section__breakout{
    margin-left: -40px !important;
    margin-right: -40px !important
  }
  }

.section__footer--collapse, .section__footer--collapse.section__footer--large {
  margin-top: 0;
}

.section__footer {
}

@media(min-width: 768px) {
  .section__footer{
    margin-top: 30px
  }
  }

.section__footer--no-collapse {
  margin-top: 30px;
}

.section__footer--large.section__footer--no-collapse {
  margin-top: 50px;
}

@media(min-width: 768px) {
  .section__footer--large{
    margin-top: 50px
  }
  }